a.t-btn-pink { 
    text-decoration: none;
    color: var(--purple);
    font-family: Audiowide;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
    background: var(--pink);
    padding: 10px 10px;
    border-top: solid 4px var(--light);
    border-left: solid 4px var(--light);
    border-right: solid 4px var(--purple);
    border-bottom: solid 4px var(--purple);
}
a.t-btn-pink span {
    color: var(--purple);
    padding: 1px 32px;
    border: 3px dotted var(--pink);
    transition: border .5s ease;
}

a.t-btn-pink:hover span {
    border: 3px dotted var(--purple);
}

a.t-btn-pink:hover {
    border-top: solid 6px var(--light);
    border-left: solid 6px var(--light);
    border-right: solid 6px var(--purple);
    border-bottom: solid 6px var(--purple);
    font-size: 29px;
}

a.t-btn-pink:active {
    border-top: solid 2px var(--light);
    border-left: solid 2px var(--light);
    border-right: solid 2px var(--purple);
    border-bottom: solid 2px var(--purple);
    font-size: 26px;
}

a.t-btn-pink:active span {
    border: 3px dotted var(--pink);
}