/*
    Cette page regroupe tout ce qui concerne les icones sur les boutons qui sont utilsées et partagés entre les pages.
*/

.ft-icon-small {
  width: 3rem;
}

a.icon-btn-size {
  height: 3rem;
  width: 3rem;
  /* display: flex; */
}

a.icon-btn-cursor {
  cursor: pointer;
}