/* 
    Ce fichier contient tout les éléments généraux concernant les pages.
    Ne contient pas les spécificités, ni les polices.
*/

html, body {
    background: var(--dark);
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 42px;
}

body::-webkit-scrollbar-track {
    background: var(--mint);        
    border-bottom: .2rem solid var(--purple);
    border-right: .2rem solid var(--purple);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-bottom: .2rem solid var(--dark-gray);
    border-right: .2rem solid var(--dark-gray);
    border-top: .2rem solid var(--light);
    border-left: .2rem solid var(--light);   
}

.ft-simple-link:hover {
    text-decoration: underline;
}