/*
    Cette page regroupe tout ce qui concerne les onglets qui sont utilsés et partagés entre les pages.
*/

.ft-cover {
    min-height: 35vh;
}

.ft-flexContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*
        avec le align-items center, les images se centrent MAIS le body de pouette
        retrecit pour s'adapter uniquement a la taille du texte et plus le width
        du precedent    
    */
    align-items: center;

}

.ft-container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background: var(--gray);
    /* border: 4px solid var(--orange); */
}

.ft-tabContent, .ft-tabFolder {
    position: relative;
    /* left: 1em; */
    height: 1em;
    border-right: 2em solid var(--invisible);
    border-left: 2em solid var(--invisible);
    /* border: 4px solid var(--purple); */
}



.ft-tabContent, .ft-titleFolder, .ft-bodyContent {
    font-family: 'Array', 'Audiowide', monospace;
    /* font-family: 'JetBrains'; */
    /* font-family: 'Orbitron'; */
    font-style: normal;
    color: var(--light);
}

.ft-connectedCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--green);
}